<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Not quite a blog, by <a href='https://twitter.com/SvenDowideit'>@SvenDowideit</a>.</span>
  </div>
</footer>